@import 'reset';

$font-stack:    Helvetica, Verdana, sans-serif;
$primary-color: #CCC;

body {
    font-family: Helvetica, Verdana, sans-serif;
}

h1 {
    font-size: 2em;
    color: $primary-color;
}

table {
    margin: 1em 0;
}

td {
    padding: 3px;
}

@import 'list-page';
@import 'book-form';