<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booklist</title>
    <link rel="Stylesheet" href="style.css" />
</head>
<body class="list-page">
    <h1>Book List Page</h1>
    <table>
    {{#books}}
        <tr>
            <td>{{id_buku}}</td>
            <td>{{judul}}</td>
            <td>{{authors}}</td>
            <td><a href="book/edit/{{id_buku}}">edit</a></td>
            <td>
                <form method="POST" action="/book/delete/{{id_buku}}">
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
    {{/books}}
</body>
</html>