<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Form</title>
    <link rel="Stylesheet" href="style.css" />
</head>
<body class="book-form">
    <h1>Book Form</h1>

    <form method="POST" action="/book/add">
    <input placeholder="judul" name="judul" />
    <input placeholder="authors" name="authors" />
    <button type="submit">save</button>

    </form>

</body>
</html>