<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Edit</title>
    <link rel="Stylesheet" href="style.css" />
</head>
<body class="book-form">
    <h1>Book Edit</h1>

    <form method="POST" action="/book/edit/{{book.id_buku}}">
    <input placeholder="judul" name="judul" value="{{book.judul}}" />
    <input placeholder="authors" name="authors" value="{{book.authors}}" />
    <button type="submit">save</button>

    </form>

</body>
</html>